.navbar {
height: 80px;

background: #ffffff;

display: flex;
align-items: center;
justify-content: space-between;

padding: 0 30px;

border-bottom: 1px solid #e5e7eb;

position: sticky;
top: 0;
z-index: 100;
}

/* LEFT */

.navbar-left h2 {
font-size: 28px;
font-weight: 700;

color: #0f172a;

margin: 0;
}

.navbar-left p {
font-size: 14px;
color: #64748b;

margin-top: 4px;
}

/* RIGHT */

.navbar-right {
display: flex;
align-items: center;
gap: 18px;
}

/* SEARCH */

.search-box {
width: 300px;
height: 46px;

border: 1px solid #e5e7eb;

border-radius: 12px;

display: flex;
align-items: center;

padding: 0 14px;

background: #fff;
}

.search-box svg {
color: #94a3b8;
}

.search-box input {
flex: 1;

border: none;
outline: none;

margin-left: 10px;

font-size: 14px;
}

/* NOTIFICATION */

.notification-btn {
width: 46px;
height: 46px;

border-radius: 12px;
border: 1px solid #e5e7eb;

background: white;

cursor: pointer;

position: relative;

display: flex;
align-items: center;
justify-content: center;
}

.notification-badge {
position: absolute;

top: -4px;
right: -4px;

width: 18px;
height: 18px;

border-radius: 50%;

background: #ef4444;
color: white;

font-size: 11px;
font-weight: 600;

display: flex;
align-items: center;
justify-content: center;
}

/* USER */

.user-dropdown {
position: relative;
}

.user-btn {
border: none;
background: transparent;

display: flex;
align-items: center;
gap: 12px;

cursor: pointer;
}

.user-avatar {
width: 44px;
height: 44px;

border-radius: 50%;

background: #2563eb;

color: white;

font-weight: 700;

display: flex;
align-items: center;
justify-content: center;
}

.user-info h4 {
margin: 0;

color: #0f172a;

font-size: 15px;
}

.user-info span {
color: #64748b;

font-size: 12px;
}

/* DROPDOWN */

.dropdown-menu {
position: absolute;

top: 60px;
right: 0;

width: 220px;

background: white;

border-radius: 14px;

overflow: hidden;

box-shadow:
0 10px 30px rgba(0,0,0,.1);
}

.dropdown-menu button {
width: 100%;

border: none;
background: none;

display: flex;
align-items: center;
gap: 10px;

padding: 14px 18px;

cursor: pointer;

transition: .3s;
}

.dropdown-menu button:hover {
background: #f8fafc;
}

.logout-btn {
color: #ef4444;
}

/* RESPONSIVE */

@media(max-width:768px){

.navbar {
padding: 0 15px;
}

.search-box {
display: none;
}

.user-info {
display: none;
}
}
